body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

h1 {
    flex-direction: column;
    color: #333;
}

#buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    gap: 10px;
    padding: 10px;
}

.row {
    display: flex;
    gap: 10px;
}

button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

button:hover {
    background-color: #ccc;
}

button:active {
    background-color: #ccc;
}

#calculator {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#display {
    width: 330px;
    height: 70px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    font-size: 20px;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.retro{
    width: 100px;
    border-radius: 50%;
}